/*   RESET   */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ///////// */

body {
  font-family: "Inter", sans-serif;
  background-color: #f7faff;
  color: #1a3d70;
  background: #f3f5fc;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90dvh;
}

header {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 10px 0;
}

.logo {
  width: 120px;
  height: 48px;
  background-image: url("imgs/Logo.png");
}

main {
  display: flex;
  gap: 5rem;
  padding: 20px;
  width: 90%;
  height: 100%;
  align-self: flex-end;
  flex-wrap: wrap;
}

.text-box,
.output-box {
  border-radius: 32px;
}

textarea {
  color: #0a3871;
  font: inherit;
  border: none;
  font-size: 1.5rem;
  outline: none;
  background: none;
  resize: none;
  overflow: auto;
  width: 100%;
}

.text-box {
  flex-grow: 2;
  padding: 1rem;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  align-self: flex-start;
  justify-self: end;
  font-size: 0.7rem;
}

.output-box {
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.emptyMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin: 10%;
}

.emptyText {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.emptyInstruction {
  font-size: 0.8rem;
  text-align: center;
  color: #000;
}

.actions {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

#encrypt-btn,
#decrypt-btn,
#copy-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 67px;
  border-radius: 24px;
  border: none;
}

#encrypt-btn {
  background: #0a3871;
  color: white;
}

#decrypt-btn,
#copy-btn {
  border: 1px solid #0a3871;
  color: #0a3871;
  background-color: white;
}

#decrypt-btn:hover,
#copy-btn:hover,
#encrypt-btn:hover {
  background-color: #0f51a1;
  color: white;
}

footer {
  font-size: 14px;
  color: #666;
  margin-top: 50px;
  text-align: left;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .text-box,
  .output-box {
    width: 90%;
  }

  #encrypt-btn,
  #decrypt-btn,
  #copy-btn {
    width: 100%;
  }
}

@media (max-width: 368px) {
  main {
    display: flex;
    gap: 1rem;
    padding: 10px;
  }

  #encrypt-btn,
  #decrypt-btn,
  #copy-btn {
    width: 100%;
  }
  .actions {
    display: flex;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
  }

  .text-box,
  .output-box {
    width: 90%;
  }
}
